body,
.jumbotron{
    background-image: url("../images/ForbiddenForest.jpg");
    background-size: 2500px 1225px;
}

#topheading{           
    color:rgb(139, 18, 18);
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;      
}

#welcome{
    font-size: 75px;
    font-weight: 900;
}

#jumbop,
#jumbop1{
    font-size: 30px;
    font-weight: 700;
}

#Learn {
    background-color: black;
    border-color:rgb(139, 18, 18);
    color: rgb(139, 18, 18);
}

/* .main {
    font-family: 'Prociono', serif;
    font-stretch: expanded;
    font-size: 25px;
    position: absolute;
    top: 450px;
    left: 650px;
    width: 950px;
    height: 500px;
}

.correctw,
.wrongw,
.guessesl{
    font-size: 20px;
}

#underscore {
    font-size: 50px;
    position: relative;
    top: 100px;
    text-align: center;    
}

#wrongletters {
    position: relative;
    top: 150px;
    text-align: center;
}

#start{
    position: absolute;
    top: 15px; 
    right: 15px; 
} */