/*Styling for the jumbotron*/

body,
.jumbotron {
    background-image: url("../images/ForbiddenForest.jpg");
    background-size: 2500px 1225px;
}

#topheading {
    color: rgb(139, 18, 18);
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
}

#welcome_jumbotitle{
    font-size: 75px;
    font-weight: 900;
}

#jumbo_paragraph,
#jumbo_secondparagraph{
    font-size: 30px;
    font-weight: 700;
}

#Learn {
    background-color: black;
    border-color: rgb(139, 18, 18);
    color: rgb(139, 18, 18);
}


/*General styling for the game play area*/

.main {
    font-stretch: expanded;
    font-size: 25px;
    position: absolute;
    top: 350px;
    left: 475px;
    width: 1000px;
    height: 500px;
}

/* #start {
    position: absolute;
    top: 15px;
    right: 15px;
} */


/*Styling for Unicorn game play area*/

#gryffindor {
    background-image: url("../images/unicornbck.jpg");
    color: gold;
    font-family: 'New Rocker', cursive;
    border-color: gold;
}

#underscoregryffindor{
    font-size: 60px;
    position: relative;
    top: 100px;
    text-align: center;
}

#wronglettersgryffindor{
    position: relative;
    top: 125px;
    text-align: center;
}


/*Styling for Hufflepuff game play area*/

#hufflepuff {
    background-color: yellow;
    color: black;
    font-family: 'Emilys Candy', cursive;
    border-color: black;
}

#underscorehuffle{
    font-size: 60px;
    position: relative;
    top: 100px;
    text-align: center;
}

#wronglettershuffle{
    position: relative;
    top: 125px;
    text-align: center;
}

/*Styling for Ravenclaw game play area*/

#ravenclaw{
    background-color: rgb(3, 3, 160);
    color: rgb(196, 121, 51);
    font-family: 'Petit Formal Script', cursive;    
    font-size: 30px;   
    border-color: rgb(196, 121, 51);
}

#underscoreraven{
    font-size: 75px;
    position: relative;
    top: 40px;
    text-align: center;
}

#wronglettersraven{
    position: relative;
    top: 50px;
    text-align: center;
}

/*Styling for Slytherin game play area*/

#slytherin{
    background-color: rgb(26, 75, 26);
    color: 	#C0C0C0;
    font-family: 'Almendra SC', serif;
    font-size: 40px;   
    border-color: #C0C0C0;
}

#underscoreslytherin{
    font-size: 80px;
    position: relative;
    top: 40px;
    text-align: center;
}

#wronglettersslytherin{
    position: relative;
    top: 50px;
    text-align: center;
}