/*Styling for the jumbotron*/

body,
.jumbotron {
    background-image: url("../images/ForbiddenForest.jpg");
    background-size: 2500px 1225px;
}

#topheading {
    color: rgb(139, 18, 18);
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
}

#welcome_jumbotitle{
    font-size: 75px;
    font-weight: 900;
}

#jumbo_paragraph,
#jumbo_secondparagraph{
    font-size: 30px;
    font-weight: 700;
}

#Learn {
    background-color: black;
    border-color: rgb(139, 18, 18);
    color: rgb(139, 18, 18);
}


/*General styling for the game play area*/

.main {
    font-stretch: expanded;
    font-size: 25px;
    position: absolute;
    top: 350px;
    left: 475px;
    width: 1000px;
    height: 500px;
}

/* #start {
    position: absolute;
    top: 15px;
    right: 15px;
} */


/*Styling for Unicorn game play area*/

#unicorn_playarea{
    background-image: url("../images/unicornbck.png");
    background-repeat: no-repeat;
    background-size: 1000px 500px;    
    color: rgb(167, 167, 167);
    font-family: 'Berkshire Swash', cursive;
    border-color: rgb(167, 167, 167);
}

#unicornunderscore{
    font-size: 60px;
    position: relative;
    top: 100px;
    text-align: center;
}

#unicornwrongletters{
    position: relative;
    top: 125px;
    text-align: center;
}


/*Styling for Centaur game play area*/

#centaur_playarea{
    background-image: url("../images/centaurbck.png");
    background-repeat: no-repeat;
    background-size: 1000px 500px;    
    color: rgb(244, 244, 246);
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
    border-color: rgb(6, 6, 73);
}

#underscorecentaur{
    font-size: 60px;
    position: relative;
    top: 100px;
    text-align: center;
}

#wrongletterscentaur{
    position: relative;
    top: 125px;
    text-align: center;
}

/*Styling for Acromantula game play area*/

#acromantula_playarea{
    background-image: url("../images/acromantulabck.png");
    background-repeat: no-repeat;
    background-size: 1000px 500px;    
    color: rgb(32, 17, 7);
    font-family: 'Hanalei Fill', cursive;
    border-color: rgb(32, 17, 7);
}

#underscoreacromantula{
    font-size: 60px;
    position: relative;
    top: 100px;
    text-align: center;
}

#wronglettersacromantula{
    position: relative;
    top: 125px;
    text-align: center;
}

/*Styling for Thestral game play area*/

#thestral_playarea{
    background-image: url("../images/thestralbck.png");
    background-repeat: no-repeat;
    background-size: 1000px 500px;    
    color: black;
    font-family: 'Metamorphous', cursive;
    border-color: black;
}

#underscorethestral{
    font-size: 60px;
    position: relative;
    top: 100px;
    text-align: center;
}

#wronglettersthestral{
    position: relative;
    top: 125px;
    text-align: center;
}