/*General*/
body {
    background-image: url("../images/ForbiddenForest.jpg");
    background-size: 2500px 1225px;
}

/* Start Page */
.heading_welcomePage,
#hagridpic{
    background: rgba(7, 6, 6, 0.3);
    border: 1px solid black;
    color: rgb(139, 18, 18);
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    float: middle;
    position: relative;
    top: 225px;
    left: 500px;
    width: 900px;
    height: 600px;
}

#welcome_title {
    color: rgb(63, 8, 8);
    font-size: 50px;
    font-weight: 900;
    position: relative;
    top: 25px;
}

#welcome_caption {
    color: rgb(63, 8, 8);
    font-size: 20px;
    font-weight: 900;
    position: relative;
    top: 45px;
}

#pottermore_link {
    color: rgb(63, 8, 8);
    font-size: 22px;
    font-weight: 700;
    float: middle;
    position: relative;
    top: 160px;
}

#learn_more,
#startbutton,
#playagain {
    background-color: black;
    border-color: rgb(139, 18, 18);
    color: rgb(116, 17, 17);
}

#learn_more {
    text-align: center;
    font-size: 15px;
    width: 140px;
    height: 38px;
}

#startbutton,
#playagain {
    width: 200px;
    height: 55px;
    font-size: 18px;
    text-align: center;
    float: middle;
    position: relative;
    top: 80px;
}

/* Footer */
#image_credit {
    color: rgb(78, 76, 76);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
}