body {
    background-image: url("../images/GreatHallHogwarts.jpg");
    background-size: 2000px 1125px;
}

.jumbotron {
    background-image: url("../images/HogwartsHouses.jpg");
    background-size: 1900px 300px;
    color: white;
    text-align: center;
}

#Learn {
    background-color: black;
    border-color: white;
}

.main {
    font-family: 'Prociono', serif;
    font-stretch: expanded;
    font-size: 25px;
    position: absolute;
    top: 450px;
    left: 650px;
    width: 900px;
    height: 500px;
}

#correct,
#wrong,
#guesses{
    font-size: 20px;
}

#underscore {
    font-size: 50px;
    position: relative;
    top: 100px;
    text-align: center;    
}

#wrongletters {
    position: relative;
    top: 150px;
    text-align: center;
}

#start{
    position: absolute;
    top: 15px; 
    right: 15px; 
}